* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

a {
    all: unset;
}

ul {
    list-style: none;
}

:root {
    --branco: white;
    --cor_web: #F8F9FA;
    --cor_web_post: #F8F9FA;
    --azul_default: #E2EBF6;
    --azul_escuro: #8EB4E2;
    --azul_default_opacity: #e2ebf688;
    --cinza_default: #D9D9D9;
    --cinza_escuro: #929292;
    --cinza_escuro_hover: #9292928f;
    --preto_hover: #0000001c;
    --preto_click: #00000091;
    --preto_font: black;
    --default_shadow: 6px 6px 10px #0000006b;
}

/* Estilização para barra de rolagem */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.205);
}

body {
    width: 100dvw;
    height: 100dvh;
    background-color: var(--cor_web);
}

/* Elemtos ocultos do mobile */
#navDesk {
    display: none;
}

#sectionFollowersTerms {
    display: none;
}

#filterBlack {
    position: absolute;
    display: none;
    justify-content: end;
    top: 70px;
    width: 100vw;
    height: calc(100vh - 140px);
    background-color: var(--preto_hover);
    z-index: 10;
}

#closeFilter {
    width: 15px;
    height: 15px;
    margin: 10px 10px 0px 0px;
}

/* Header */
header {
    display: flex;
    width: 100%;
    height: 70px;
    padding: 10px;
    background-color: var(--azul_default);
    box-shadow: var(--default_shadow);
}

.containerLogo {
    display: flex;
    align-items: center;
    width: 50%;
}

.containerSettings {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
    width: 50%;
}

#settingsHeader {
    width: auto;
    height: 25px;
}

#profileHeader {
    border-radius: 100%;
    width: auto;
    height: 70%;
}

.containerSettings div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cinza_escuro);
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

/* Main */
main {
    width: 100%;
    height: calc(100% - 140px);
    padding-top: 15px;
}

.containerSearchFollower {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    height: 40px;
}

.containerInputMob {
    position: absolute;
    display: flex;
    align-items: center;
    left: 10px;
    width: 65%;
    height: 35px;
    padding-left: 15px;
    border-radius: 20px;
    background-color: var(--branco);
    border-style: solid;
    border-color: var(--cinza_escuro);
    border-width: 1px;
    z-index: 20;
}

.containerInputMob img {
    width: auto;
    height: 15px;
}

#inputFollowerMob {
    all: unset;
    width: calc(100% - 20px);
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 5px;
}

#closeInputMob {
    display: none;
    width: 15px;
    height: 10px;
    padding-right: 5px;
}

#resultFollower {
    position: absolute;
    display: none;
    top: 0;
    left: 10px;
    width: 65%;
    height: 400px;
    border-radius: 20px;
    z-index: 15;
    background-color: var(--cor_web);
}

/* Container dos Logs */
#containerLogs {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 50px);
    padding: 15px 15px 15px 15px;
    gap: 15px;
    overflow: auto;
}

.log {
    min-height: 600px;
    width: 100%;
    background-color: var(--cor_web_post);
    box-shadow: var(--default_shadow);
}

.headerLog {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding-left: 5px;
    gap: 5px;
}

.profileLog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--cinza_escuro);
    border-radius: 100%;
}

.profileLog img {
    width: auto;
    height: 75%;
    border-radius: 100%;
}

.backgroundImgLog {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(100% - 90px);
}

.imgLog {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.backgroundImgLog div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin: 0px 5px 0px 5px;
    border-radius: 100%;
    background-color: var(--cinza_escuro_hover);
}

.backgroundImgLog div:nth-last-child(1) {
    right: 0;
}

.backgroundImgLog div img {
    width: auto;
    height: 20px;
}

.arrowImgLogLeft {
    transform: rotate(180deg);
}

.footerLog {
    display: flex;
    width: 100%;
    height: 50px;
}

.likesLog {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    height: 100%;
    gap: 3px;
    padding-top: 13px;
}

.likesLog img {
    width: auto;
    height: 15px;
}

.likesLog span {
    font-size: 11px;
}

.favLog {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    height: 100%;
    gap: 3px;
    padding-top: 13px;
}

.favLog img {
    width: auto;
    height: 15px;
}

.favLog span {
    font-size: 11px;
}

.containerLocationLog {
    display: flex;
    justify-content: end;
    width: 80%;
    height: 70%;
    padding-top: 13px;
    gap: 5px;
    padding-right: 5px;
}

.containerLocationLog img {
    width: auto;
    height: 20px;
}

.locationLog {
    font-size: 14px;
    padding-top: 4px;
}

/* Barra de navegação Mobile */
#navMob {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: var(--azul_default);
    border-top-style: solid;
    border-color: var(--cinza_escuro);
    border-width: 1px;
}

#navMob div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--cinza_default);
    border-style: solid;
    border-color: var(--cinza_escuro);
    border-width: 2px;
    border-radius: 100%;
}

#newPost {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
    background-color: var(--cinza_default);
    border-style: solid;
    border-color: var(--cinza_escuro);
    border-width: 1px;
    border-radius: 100%;
}

#newPost img {
    width: 13px;
    height: 15px;
}

@media (min-width: 768px) {
    main {
        display: flex;
        width: 100%;
        height: calc(100% - 140px);
    }

    .containerSearchFollower {
        display: none;
    }

    #containerLogs {
        width: 65%;
        height: 100%;
    }

    .log {
        min-height: 450px;
        height: 450px;
    }

    .likesLog {
        padding-top: 10px;
    }

    .likesLog img {
        width: auto;
        height: 20px;
    }

    .favLog {
        padding-top: 10px;
    }

    .favLog img {
        width: auto;
        height: 20px;
    }

    .containerLocationLog {
        padding-top: 10px;
    }

    #sectionFollowersTerms {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 35%;
        height: 100%;
        padding: 15px;
    }

    .containerFollowerSearch {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 350px;
        padding: 10px;
        border-radius: 20px;
        box-shadow: var(--default_shadow);
        background-color: var(--cor_web_post);
    }

    .containerInputDesk {
        display: flex;
        align-items: center;
        left: 10px;
        width: 100%;
        height: 35px;
        padding-left: 15px;
        border-radius: 20px;
        background-color: var(--branco);
        border-style: solid;
        border-color: var(--cinza_escuro);
        border-width: 1px;
        z-index: 20;
    }

    .containerInputDesk img {
        width: auto;
        height: 15px;
    }

    #inputFollowerDesk {
        all: unset;
        width: calc(100% - 20px);
        height: 100%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        padding-left: 5px;
    }

    .containerFollowerList {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc(100% - 35px);
        padding: 10px 5px 0px 5px;
        gap: 10px;
        overflow: scroll;
    }

    .follower {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        min-height: 50px;
        padding-left: 10px;
        border-radius: 15px;
        transition: 0.3s ease-in-out;
    }

    .profileFollower {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        background-color: var(--cinza_escuro);
        border-radius: 100%;
    }

    .profileFollower img {
        width: 70%;
        height: 70%;
        border-radius: 100%;
    }

    .containerButtonLogFollower {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #newLogSection {
        all: unset;
        display: flex;
        align-items: center;
        width: 100%;
        height: 40px;
        padding-left: 10px;
        border-radius: 30px;
        background-color: var(--cinza_default);
        border-style: solid;
        border-color: var(--cinza_escuro);
        border-width: 2px;
    }

    #newLogSection img {
        width: auto;
        height: 15px;
    }

    #newLogSection span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% - 15px);
        height: 100%;
        padding-right: 10px;
    }

    .termsFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        width: 100%;
        height: 50px;
        color: var(--cinza_escuro);
    }

    .containerSpanFooter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 80%;
        font-size: 14px;
    }

    #navMob div {
        display: none;
    }
}

@media (min-width: 1280px) {
    body {
        display: flex;
    }

    header {
        display: none;
    }

    main {
        width: calc(100% - 280px);
        padding-top: 30px;
        height: 100%;
    }

    #containerLogs {
        align-items: center;
        width: 73%;
    }

    .log {
        width: 90%;
        height: 680px;
        min-height: 680px;
    }

    .likesLog {
        width: 7%;
        padding-top: 10px;
    }

    .likesLog img {
        width: auto;
        height: 20px;
    }

    .favLog {
        width: 5%;
        padding-top: 10px;
    }

    .favLog img {
        width: auto;
        height: 20px;
    }

    .containerLocationLog {
        width: 88%;
        padding-top: 10px;
    }

    .follower:hover {
        transform: scale(1.02);
        background-color: var(--preto_hover);
    }

    #sectionFollowersTerms {
        width: 27%;
    }

    #newLogSection {
        all: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 30px;
        background-color: var(--cinza_default);
        transition: 0.5s ease-in-out;
        border-style: solid;
        border-color: var(--cinza_escuro);
        border-width: 2px;
    }

    #newLogSection:hover {
        width: 100%;
    }

    #newLogSection:hover span {
        opacity: 1;
    }

    #newLogSection:hover img {
        transform: rotate(360deg);
    }

    #newLogSection img {
        width: auto;
        height: 20px;
        margin-right: -35px;
        transition: 1.5s ease-in-out;
    }

    #newLogSection span {
        opacity: 0;
        transition: 0.5s ease-in-out;
    }

    #navMob {
        display: none;
    }

    #navDesk {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 280px;
        height: 100%;
        padding: 15px;
        background-color: var(--azul_default);
        box-shadow: var(--default_shadow);
        border-radius: 20px;
        z-index: 10;
    }

    #navDesk h1 {
        font-size: 2rem;
        width: 100%;
        height: 5%;
    }

    .containerNav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 40%;
    }

    .containerNav span {
        display: flex;
        align-items: center;
        height: 30px;
        border-radius: 15px;
        padding-left: 10px;
        transition: 0.2s ease-in-out;
    }

    .containerNav span:hover {
        background-color: var(--preto_hover);
    }

    .containerFilter {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
        width: 100%;
        height: 60%;
    }

    .containerFilter span {
        pointer-events: none;
    }

    .titleFilter {
        display: flex;
        justify-content: start;
        width: 100%;
    }

    .containerFilter input {
        all: unset;
        display: flex;
        text-align: center;
        width: 80%;
        height: 35px;
        background-color: var(--branco);
        border-radius: 20px;
        border-style: solid;
        border-width: 1px;
        border-color: var(--cinza_escuro);
        font-size: 14px;
        transition: 0.5s ease-in-out;
    }

    .containerFilter input:hover {
        transform: scale(1.05);
    }

    .containerListTypeLog {
        position: relative;
        display: flex;
        justify-content: end;
        align-items: center;
        width: 80%;
        height: 40px;
        gap: 33%;
        padding: 0px 10px 0px 10px;
        background-color: var(--branco);
        border-radius: 20px;
        border-style: solid;
        border-width: 1px;
        border-color: var(--cinza_escuro);
        transition: 0.5s ease-in-out;
    }

    #listTypeLog {
        position: absolute;
        display: flex;
        width: 100%;
        height: 30px;
        top: 0;
        left: 0;
        padding-top: 33px;
        z-index: -10;
        background-color: var(--branco);
        border-style: none;
        border-radius: 20px;
        transition: 0.5s ease-in-out;
    }

    #listTypeLog ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    #listTypeLog li {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 30px;
        width: 80%;
        border-bottom-style: solid;
        border-color: var(--cinza_default);
        border-width: 1px;
    }

    #arrowType {
        width: auto;
        height: 8px;
        transition: 0.3s ease-in-out;
    }

    #arrowType:hover {
        transform: scale(1.15);
    }

    .containerSettingsNav {
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 100%;
        height: 15%;
        gap: 10px;
    }

    .containerSettingsNav div:hover {
        background-color: var(--preto_hover);
    }

    #settingsNav {
        display: flex;
        align-items: center;
        width: 100%;
        height: 50px;
        gap: 10px;
        padding: 10px;
        border-radius: 15px;
        transition: 0.2s ease-in-out;
    }

    #settingsNav img {
        width: auto;
        height: 25px;
    }

    #profileNav {
        display: flex;
        align-items: center;
        width: 100%;
        height: 50px;
        gap: 10px;
        padding: 5px;
        border-radius: 15px;
        transition: 0.2s ease-in-out;
    }

    #profileNav div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: var(--cinza_escuro);
        border-radius: 100%;
    }

    #profileNav div img {
        border-radius: 100%;
        width: auto;
        height: 80%;
    }

    .containerButtonLogFollower {
        justify-content: start;
    }
}