* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --branco: white;
    --cor_web: #F8F9FA;
    --cor_web_post: #F8F9FA;
    --azul_default: #E2EBF6;
    --azul_escuro: #8EB4E2;
    --azul_default_opacity: #e2ebf688;
    --cinza_default: #D9D9D9;
    --cinza_escuro: #929292;
    --cinza_escuro_hover: #9292928f;
    --preto_hover: #0000001c;
    --preto_click: #00000091;
    --preto_fosco: #000000bb;
    --preto_font: black;
    --default_shadow: 6px 6px 10px #0000006b;
}


/* Header */
header {
    display: flex;
    width: 100%;
    height: 70px;
    padding: 10px;
    background-color: var(--azul_default);
    box-shadow: var(--default_shadow);
}

.containerLogo {
    display: flex;
    align-items: center;
    width: 50%;
}

.containerSettings {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
    width: 50%;
}

#settingsHeader {
    width: auto;
    height: 25px;
}

#profileHeader {
    border-radius: 100%;
    width: auto;
    height: 70%;
}

.containerSettings div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cinza_escuro);
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

