* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

a {
    all: unset;
}

ul {
    list-style: none;
}

:root {
    --branco: white;
    --cor_web: #F8F9FA;
    --cor_web_post: #F8F9FA;
    --azul_default: #E2EBF6;
    --azul_escuro: #8EB4E2;
    --azul_default_opacity: #e2ebf688;
    --cinza_default: #D9D9D9;
    --cinza_escuro: #929292;
    --cinza_escuro_hover: #9292928f;
    --preto_hover: #0000001c;
    --preto_click: #00000091;
    --preto_fosco: #000000bb;
    --preto_font: black;
    --default_shadow: 6px 6px 10px #0000006b;
}

/* Estilização para barra de rolagem */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.205);
}

.selectable:hover {
    background-color: var(--azul_default_opacity);
    cursor: pointer;
    border-radius: 8px;

}

body {
    width: 100dvw;
    height: 100dvh;
    background-color: var(--cor_web);
}

/* Elemtos ocultos do mobile */
#navDesk {
    display: none;
}

#sectionFollowersTerms {
    display: none;
}

#filterBlack {
    position: absolute;
    display: none;
    justify-content: end;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--preto_fosco);
    z-index: 30;
}

#filterBlack.showFilter {
    display: flex;
}

#closeFilter {
    width: 15px;
    height: 15px;
    margin: 10px 10px 0px 0px;
}

#closeFilter.hiddeCloseFilter {
    opacity: 0;
    pointer-events: none;
}

/* Contianer de mensagem */
#containerMessageMain {
    position: fixed;
    display: flex;
    align-items: center;
    width: 70%;
    height: 65px;
    margin: auto;
    left: 0;
    right: 0;
    top: -100px;
    padding-left: 20px;
    background-color: var(--cinza_default);
    box-shadow: var(--default_shadow);
    transition: 0.4s ease-in-out;
    z-index: 99;
}

@keyframes showMessage {
    0% {
        top: -100px;
    }

    15%,
    80% {
        top: 0px;
    }

    100% {
        top: -100px;
    }
}

.planeAnimation {
    width: auto;
    height: 25px;
    animation-delay: 2.3s;
    z-index: 99;
}

@keyframes movePlane {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(55dvw));
    }
}

.containerSpanAnimation {
    position: relative;
    display: flex;
    width: 80%;
    overflow: hidden;
}

.converSpan {
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: var(--cinza_default);
    animation-delay: 2.4s;
    z-index: 50;
}

@keyframes moveSpan {

    0% {
        width: 0%;
    }

    50% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.messageMainSpan {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    font-size: 1rem;
}


/* Header */
header {
    display: flex;
    width: 100%;
    height: 70px;
    padding: 10px;
    background-color: var(--azul_default);
    box-shadow: var(--default_shadow);
}

.containerLogo {
    display: flex;
    align-items: center;
    width: 50%;
}

.containerSettings {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
    width: 50%;
}

#settingsHeader {
    width: auto;
    height: 25px;
}

#profileHeader {
    border-radius: 100%;
    width: 90%;
    height: 90%;
    object-fit: cover;
    object-position: center;
}

.containerSettings div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cinza_escuro);
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

/* Main */
main {
    position: relative;
    width: 100%;
    height: calc(100% - 140px);
    padding-top: 15px;
}

.containerSearchFollower {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    height: 40px;
}

.containerInputMob {
    position: absolute;
    display: flex;
    align-items: center;
    left: 10px;
    width: 65%;
    height: 35px;
    padding-left: 15px;
    border-radius: 20px;
    background-color: var(--branco);
    border-style: solid;
    border-color: var(--cinza_escuro);
    border-width: 1px;
    transition: 0.2s ease-in-out;
    z-index: 20;
}

.inputMobileIndex {
    z-index: 50;
}

.containerInputMob img {
    width: auto;
    height: 15px;
}

#inputFollowerMob {
    all: unset;
    width: calc(100% - 20px);
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 5px;
}

#closeInputMob {
    display: none;
    width: 15px;
    height: 10px;
    padding-right: 5px;
}

#closeInputMob.showCloseMobileInput {
    display: flex;
}

#resultFollower {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 10px;
    width: 95%;
    height: 400px;
    padding: 35px 5px 0px 5px;
    gap: 10px;
    overflow: scroll;
    border-radius: 20px;
    z-index: 40;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-in-out;
    background-color: var(--cor_web);
}

#resultFollower.showResultFollowerMobile {
    opacity: 1;
    pointer-events: all;
}

.follower {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    min-height: 50px;
    padding-left: 10px;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
}

.profileFollower {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: var(--cinza_escuro);
    border-radius: 100%;
}

.profileFollower img {
    width: auto;
    height: 100%;
    border-radius: 100%;
}

.containerButtonLogFollower {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Container dos Logs */
#containerLogs {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 50px);
    padding: 15px 15px 15px 15px;
    gap: 15px;
    overflow: auto;
}

.log {
    position: relative;
    min-height: 600px;
    width: 100%;
    background-color: var(--cor_web_post);
    box-shadow: var(--default_shadow);
    overflow: hidden;
}

.headerLog {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding-left: 5px;
    gap: 5px;
}

.profileLog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--cinza_escuro);
    border-radius: 100%;
}

.profileLog img {
    width: auto;
    height: 85%;
    border-radius: 100%;
}

.backgroundImgLog {
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(100% - 90px);
}

.imgLog {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.backgroundImgLog div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin: 0px 5px 0px 5px;
    border-radius: 100%;
    background-color: var(--cinza_escuro_hover);
    transition: 0.4s ease-in-out;
    pointer-events: all;
}

.containerArrowRight {
    right: 0;
}

.backgroundImgLog div img {
    width: auto;
    height: 20px;
}

.arrowImgLogLeft {
    transform: rotate(180deg);
}

.hiddeArrowImg {
    opacity: 0;
    pointer-events: none;
}

.footerLog {
    display: flex;
    width: 100%;
    height: 50px;
}

.likesLog {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    height: 100%;
    gap: 3px;
    padding-top: 13px;
}

.likesLog img {
    width: auto;
    height: 15px;
}

.likesLog span {
    font-size: 11px;
}

.favLog {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    height: 100%;
    gap: 3px;
    padding-top: 13px;
}

.favLog img {
    width: auto;
    height: 15px;
}

.favLog span {
    font-size: 11px;
}

.containerLocationLog {
    display: flex;
    justify-content: end;
    width: 80%;
    height: 100%;
    padding-top: 13px;
    gap: 5px;
    padding-right: 5px;
}

.containerLocationLog img {
    width: auto;
    height: 20px;
}

.locationLog {
    font-size: 70%;
    padding-top: 4px;
}

/* Barra de navegação Mobile */
#navMob {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: var(--azul_default);
    border-top-style: solid;
    border-color: var(--cinza_escuro);
    border-width: 1px;
}

.containerButtonNewLogMob {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--cinza_default);
    border-style: solid;
    border-color: var(--cinza_escuro);
    border-width: 2px;
    border-radius: 100%;
}

#newPost {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
    background-color: var(--cinza_default);
    border-style: solid;
    border-color: var(--cinza_escuro);
    border-width: 1px;
    border-radius: 100%;
}

#newPost img {
    width: 13px;
    height: 15px;
}

#containerFilterMob {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    right: 0px;
    bottom: 70px;
    width: 220px;
    height: 150px;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: var(--preto_fosco);
    z-index: 20;
    opacity: 0;
    transition: 0.4s ease-in-out;
    pointer-events: none;
}

#containerFilterMob.showFilterMob {
    opacity: 1;
    pointer-events: all;
}

.containerFilterDateMob {
    display: flex;
    align-items: center;
    width: 90%;
    height: 35px;
    border-radius: 20px;
    background-color: var(--branco);
    border-style: solid;
    border-width: 1px;
    border-color: var(--cinza_escuro);
    transition: 0.2s ease-in-out;
    overflow: hidden;
}

.containerFilterDateMob span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 0;
    width: 10%;
    height: 100%;
    color: var(--cinza_escuro);
}

.expandFilterDate {
    z-index: -10;
}

.filterDateMob {
    all: unset;
    display: flex;

    width: 45%;
    height: 100%;
    background-color: var(--branco);
    border-color: var(--cinza_escuro);
    font-size: 11px;
    z-index: -10;
    transition: 0.2s ease-in-out;
}

.showFilterDate {
    z-index: 20;
}

#filterDateBeginMob {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 10px;
}

#filterDateEndMob {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 5px;
}

#filterLocationMob {
    all: unset;
    display: flex;
    text-align: center;
    width: 90%;
    height: 35px;
    background-color: var(--branco);
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--cinza_escuro);
    font-size: 12px;
    z-index: -15;
}

.containerListTypeLogMob {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 90%;
    height: 35px;
    padding-right: 10px;
    background-color: var(--branco);
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--cinza_escuro);
}

.containerListTypeLogMob span {
    display: flex;
    justify-content: center;
    padding-left: 18%;
    width: 100%;
    font-size: 12px;
}

#arrowTypeMob {
    width: auto;
    height: 10px;
    transition: 0.3s ease-in-out;
}

#arrowTypeMob.arrowSelect {
    transform: rotate(180deg);
}

#listTypeLogMob {
    position: absolute;
    width: 177px;
    height: 30px;
    bottom: 0px;
    right: 0px;
    padding: 5px;
    background-color: var(--branco);
    border-radius: 20px;
    z-index: -10;
    transition: 0.5s ease-in-out;
}

#listTypeLogMob.expandirListMob {
    height: 200px;
}

#listTypeLogMob ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#listTypeLogMob li {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
    width: 80%;
    border-bottom-style: solid;
    border-color: var(--cinza_default);
    border-width: 1px;
    font-size: 12px;
}

/* Log em destaque */
#logFull {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 95%;
    left: 0;
    right: 0;
    top: 30px;
    bottom: 0;
    margin: auto;
    opacity: 0;
    z-index: 60;
    background-color: var(--cor_web_post);
    transition: 0.2s ease-in-out;
    pointer-events: none;
}

#logFull.showModal {
    opacity: 1;
    pointer-events: all;
}

.headerLogFull {
    background-color: var(--azul_default);
    display: flex;
    align-items: center;
    width: 100%;
    height: 7%;
    gap: 5px;
    padding-left: 10px;
}

.profileLogFull {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: var(--cinza_escuro);
}

.profileLogFull img {
    width: auto;
    height: 75%;
    border-radius: 100%;
}

.nameProfileLogFull {
    font-size: 16px;
}

.containerLocationTitle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 8%;
    padding: 0px 10px 0px 10px;
}

.nameTravel {
    font-size: 20px;
}

.containerSpanEdit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#editLogIcon {
    width: auto;
    height: 25px;
    margin-top: 3px;
    transition: 0.3s ease-in-out;
}

.containerLocationLogFull img {
    width: auto;
    height: 15px;
}

.locationLogFull {
    font-size: 14px;
}

.backgroundImgLogFull {
    position: relative;
    width: 100%;
    height: 45%;
}

.backgroundImgLogFull div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    top: calc(50% - 8px);
    margin: 0px 5px 0px 5px;
    border-radius: 100%;
    background-color: var(--cinza_escuro_hover);
    transition: 0.4s ease-in-out;
    pointer-events: all;
}

.backgroundImgLogFull div img {
    width: auto;
    height: 17px;
}

.backgroundImgLogFull div:nth-child(3) {
    right: 0;
}

.arrowImgLogLeftFull {
    transform: rotate(180deg);
}

.footerLogFull {
    display: flex;
    width: 100%;
    height: 7%;
}

.likesLogFull {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    width: 10%;
}

.likesLogFull img {
    width: auto;
    height: 20px;
}

.numberLikesFull {
    font-size: 12px;
}

.favLogFull {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
    gap: 3px;
    margin-left: 10px;
}

.favLogFull img {
    width: auto;
    height: 20px;
}

.numberFavFull {
    font-size: 12px;
}

.containerDateLog {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
    width: 80%;
}

.containerScrollLogFull {
    width: 100%;
    height: 33%;
    overflow: auto;
}

.descriptionLog {
    width: 100%;
    font-size: 14px;
    padding: 0px 10px 15px 10px;
}

.commentsLog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 1fr;
    gap: 10px;
    padding: 0px 10px 10px 10px;
}

.containerInputComment {
    display: flex;
    width: 100%;
}

#addComment {
    all: unset;
    width: calc(100% - 90px);
    height: 100%;
    font-size: 14px;
    border-bottom-style: solid;
    border-color: var(--cinza_escuro);
    border-width: 2px;
}

.containerInputComment div {
    display: flex;
    justify-content: end;
    width: 90px;
    gap: 5px;
}

.commentsLog img {
    width: auto;
    height: 20px;
}

.numberComments {
    font-size: 14px;
}

.comment {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.233);
}

.headerComments {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    padding-left: 5px;
    gap: 5px;
    background-color: var(--cinza_default);
}

.profileComment {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: var(--cinza_escuro);
    border-radius: 100%;
}

.profileComment img {
    width: auto;
    height: 75%;
    border-radius: 100%;
}

.nameCommentLog {
    font-size: 14px;
}

.commentText {
    font-size: 14px;
    padding: 5px 10px 5px 10px;
}

.dateComment {
    display: flex;
    justify-content: end;
    font-size: 12px;
}

/* Aba de criação de Log */
#newLog {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 95%;
    height: 85%;
    padding: 10px;
    z-index: 60;
    opacity: 0;
    background-color: var(--cor_web_post);
    transition: 0.2s ease-in-out;
    pointer-events: none;
}

#newLog.showModal {
    opacity: 1;
    pointer-events: all;
}

.imgNewLog {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    padding: 0px 5px 0px 5px;
    background-color: var(--cinza_default);
}

#newLogIcon {
    width: auto;
    height: 50px;
}

#selectImgInput {
    display: none;
}

.imgNewLog div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: var(--cinza_default);
    border-radius: 100%;
}

.containerArrowRightNewLog {
    right: 5px;
}

.containerArrowLeftNewLog {
    left: 5px;
}

.arrowImgLogLeftFull {
    width: auto;
    height: 20px;
}

.arrowImgLogRightFull {
    width: auto;
    height: 20px;
}

.containerTravel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15%;
    padding: 10px 0px 15px 0px;
}

.containerSelectTravel {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    gap: 10px;
}

.selectTravel {
    display: flex;
    align-items: center;
    width: 90%;
    height: 35px;
    border-radius: 20px;
    background-color: var(--branco);
    border-style: solid;
    border-color: var(--cinza_default);
    border-width: 2px;
    z-index: 20;
}

.selectTravel span {
    width: 90%;
    font-size: 14px;
    padding-left: 10px;
}

#arrowSelectTravel {
    width: auto;
    height: 10px;
    transition: 0.3s ease-in-out;
}

#arrowSelectTravel.changeArrowNewLog {
    transform: rotate(180deg);
}

#listTravel {
    position: absolute;
    top: 40px;
    left: 1px;
    width: 89%;
    height: 20px;
    background-color: var(--branco);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 10;
    border-style: solid;
    border-color: var(--cinza_default);
    border-width: 2px;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

#listTravel.expandListTravelNewLog {
    height: 150px;
    opacity: 1;
}

#listTravel ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    overflow: auto;
}

#listTravel li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 25px;
    border-bottom-style: solid;
    border-color: var(--cinza_default);
    border-width: 1px;
    font-size: 14px;
}

#visibleTravel {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    background-color: var(--azul_default);
    color: var(--azul_escuro);
    border-radius: 20px;
    border-style: solid;
    border-color: var(--azul_escuro);
    border-width: 2px;
    transition: 0.2s ease-in-out;
}

#visibleTravel.ocultVisible {
    background-color: var(--cinza_default);
    border-color: var(--cinza_escuro);
    color: var(--cinza_escuro);
}

.containerLocationNewLog {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10%;
    gap: 10px;
}

.locationNewLog {
    display: flex;
    align-items: center;
    width: 1005;
    height: 100%;
    gap: 5px;
    padding-left: 10px;
    border-radius: 20px;
    background-color: var(--branco);
    border-style: solid;
    border-color: var(--cinza_default);
    border-width: 2px;
}

.locationNewLog img {
    width: auto;
    height: 20px;
}

#locationNewLogInput {
    all: unset;
    width: 100%;
    height: 100%;
    background-color: var(--branco);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#descriptionNewLog {
    all: unset;
    width: 97%;
    height: 20%;
    padding: 5px;
    margin-top: 5px;
    background-color: var(--branco);
    border-style: solid;
    border-color: var(--cinza_default);
    border-width: 2px;
}

.contianerButtonNewLog {
    display: flex;
    justify-content: end;
    width: 100%;
    padding-top: 5px;
}

#saveLog {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    color: var(--azul_escuro);
    background-color: var(--azul_default);
    border-radius: 20px;
    border-style: solid;
    border-color: var(--azul_escuro);
    border-width: 1px;
}

@media (min-width: 768px) {
    #containerMessageMain {
        width: 50%;
    }

    main {
        display: flex;
        width: 100%;
        height: calc(100% - 140px);
    }

    .containerSearchFollower {
        display: none;
    }

    #containerLogs {
        width: 65%;
        height: 100%;
    }

    .log {
        min-height: 450px;
        height: 450px;
    }

    .likesLog {
        padding-top: 10px;
    }

    .likesLog img {
        width: auto;
        height: 20px;
    }

    .favLog {
        padding-top: 10px;
    }

    .favLog img {
        width: auto;
        height: 20px;
    }

    .containerLocationLog {
        padding-top: 10px;
    }

    #logFull {
        width: 85%;
        height: 90%;
    }

    #sectionFollowersTerms {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 35%;
        height: 100%;
        padding: 15px;
    }

    .containerFollowerSearch {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 350px;
        padding: 10px;
        border-radius: 20px;
        box-shadow: var(--default_shadow);
        background-color: var(--cor_web_post);
    }

    .containerInputDesk {
        display: flex;
        align-items: center;
        left: 10px;
        width: 100%;
        height: 35px;
        padding-left: 15px;
        border-radius: 20px;
        background-color: var(--branco);
        border-style: solid;
        border-color: var(--cinza_escuro);
        border-width: 1px;
        z-index: 20;
    }

    .containerInputDesk img {
        width: auto;
        height: 15px;
    }

    #inputFollowerDesk {
        all: unset;
        width: calc(100% - 20px);
        height: 100%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        padding-left: 5px;
    }

    .containerFollowerList {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc(100% - 35px);
        padding: 10px 5px 0px 5px;
        gap: 10px;
        overflow: scroll;
    }

    .containerButtonLogFollower {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #newLogSection {
        all: unset;
        display: flex;
        align-items: center;
        width: 100%;
        height: 40px;
        padding-left: 10px;
        border-radius: 30px;
        background-color: var(--cinza_default);
        border-style: solid;
        border-color: var(--cinza_escuro);
        border-width: 2px;
    }

    #newLogSection img {
        width: auto;
        height: 15px;
    }

    #newLogSection span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% - 15px);
        height: 100%;
        padding-right: 10px;
    }

    #newLog {
        width: 80%;
    }

    .selectTravel {
        width: 70%;
    }

    .selectTravel span {
        width: 92%;
    }

    #listTravel {
        width: 69%;
    }

    #listTravel li {
        height: 30px;
    }

    .termsFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        width: 100%;
        height: 50px;
        color: var(--cinza_escuro);
    }

    .containerSpanFooter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 80%;
        font-size: 14px;
    }

    .containerButtonNewLogMob {
        display: none;
    }

    #containerFilterMob {
        width: 260px;
        height: 190px;
        opacity: 0;
        transition: 1s ease-in-out;
        pointer-events: none;
    }

    #containerFilterMob input {
        height: 40px;
        font-size: 14px;
    }

    .containerListTypeLogMob {
        height: 40px;
    }

    .containerListTypeLogMob span {
        padding-left: 16%;
        font-size: 14px;
    }

    #listTypeLogMob {
        width: 214px;
        height: 35px;
    }

    #listTypeLogMob li {
        font-size: 14px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) and (height: 600px) {
    .containerFollowerSearch {
        height: 250px;
    }

    #logFull {
        width: 40%;
        height: 97%;
        margin-top: -25px;
    }

    .profileLogFull {
        width: 25px;
        height: 25px;
    }

    .likesLogFull {
        padding-top: 5px;
    }

    .likesLogFull img {
        height: 15px;
    }

    .numberLikesFull {
        font-size: 10px;
    }

    .favLogFull {
        padding-top: 5px;
    }

    .favLogFull img {
        height: 15px;
    }

    .numberFavFull {
        font-size: 10px;
    }
}

@media (min-width: 1280px) {
    body {
        display: flex;
    }

    #filterBlack {
        width: calc(100% + 150px);
        right: 0px;
    }

    #containerMessageMain {
        width: 40%;
    }

    header {
        display: none;
    }

    main {
        width: calc(100% - 280px);
        padding-top: 30px;
        height: 100%;
    }

    #containerLogs {
        align-items: center;
        width: 73%;
    }

    .log {
        width: 90%;
        height: 680px;
        min-height: 680px;
        transition: 0.5s ease-in-out;
    }

    .log:hover {
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.534);
    }

    .likesLog {
        width: 7%;
        padding-top: 10px;
    }

    .likesLog img {
        width: auto;
        height: 20px;
    }

    .favLog {
        width: 5%;
        padding-top: 10px;
    }

    .favLog img {
        width: auto;
        height: 20px;
    }

    .containerLocationLog {
        width: 88%;
        padding-top: 10px;
    }

    #logFull {
        width: 50%;
        height: 90%;
        top: 0px;
    }

    .follower:hover {
        transform: scale(1.02);
        background-color: var(--preto_hover);
    }

    #sectionFollowersTerms {
        width: 27%;
    }

    #newLogSection {
        all: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 30px;
        background-color: var(--cinza_default);
        transition: 0.5s ease-in-out;
        border-style: solid;
        border-color: var(--cinza_escuro);
        border-width: 2px;
    }

    #newLogSection:hover {
        width: 100%;
    }

    #newLogSection:hover span {
        opacity: 1;
    }

    #newLogSection:hover img {
        transform: rotate(360deg);
    }

    #newLogSection img {
        width: auto;
        height: 20px;
        margin-right: -35px;
        transition: 1.5s ease-in-out;
    }

    #newLogSection span {
        opacity: 0;
        transition: 0.5s ease-in-out;
    }

    #newLog {
        width: 70%;
    }

    #listTravel {
        width: 69.6%;
    }

    #navMob {
        display: none;
    }

    #navDesk {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 280px;
        height: 100%;
        padding: 15px;
        background-color: var(--azul_default);
        box-shadow: var(--default_shadow);
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        z-index: 40;
    }

    #navDesk h1 {
        font-size: 2rem;
        width: 100%;
        height: 5%;
    }

    .containerNav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 40%;
    }

    .containerNav span {
        display: flex;
        align-items: center;
        height: 30px;
        border-radius: 15px;
        padding-left: 10px;
        transition: 0.2s ease-in-out;
    }

    .containerNav span:hover {
        background-color: var(--preto_hover);
    }

    .containerFilter {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
        width: 100%;
        height: 60%;
    }

    .containerFilter span {
        pointer-events: none;
    }

    .titleFilter {
        display: flex;
        justify-content: start;
        width: 100%;
    }

    .containerFilterDate {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 35px;
        border-radius: 20px;
        background-color: var(--branco);
        border-style: solid;
        border-width: 1px;
        border-color: var(--cinza_escuro);
        transition: 0.2s ease-in-out;
        overflow: hidden;
    }

    .expandFilterDate {
        width: 95%;
    }

    .containerFilterDate span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        padding: 0;
        width: 10%;
        height: 100%;
        color: var(--cinza_escuro);
    }

    .filterDate {
        all: unset;
        display: flex;
        text-align: center;
        width: 45%;
        height: 100%;
        background-color: var(--branco);
        border-color: var(--cinza_escuro);
        font-size: 14px;
        z-index: -10;
        transition: 0.2s ease-in-out;
    }

    .showFilterDate {
        z-index: 10;
    }

    #filterDateBegin {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    #filterDateEnd {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        padding-right: 0px;
    }

    #filterLocation {
        all: unset;
        display: flex;
        text-align: center;
        width: 80%;
        height: 35px;
        background-color: var(--branco);
        border-radius: 20px;
        border-style: solid;
        border-width: 1px;
        border-color: var(--cinza_escuro);
        font-size: 14px;
        transition: 0.2s ease-in-out;
    }

    #filterLocation.expandFilterLocation {
        width: 95%;
    }

    .containerListTypeLog {
        position: relative;
        display: flex;
        align-items: center;
        width: 80%;
        height: 40px;
        padding: 0px 10px 0px 10px;
        background-color: var(--branco);
        border-radius: 20px;
        border-style: solid;
        border-width: 1px;
        border-color: var(--cinza_escuro);
    }

    .containerListTypeLog span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-left: 15px;
    }

    #listTypeLog {
        position: absolute;
        display: flex;
        width: 100%;
        height: 30px;
        top: 0;
        left: 0;
        padding-top: 33px;
        z-index: -10;
        background-color: var(--branco);
        border-style: none;
        border-radius: 20px;
        transition: 0.5s ease-in-out;
    }

    #listTypeLog.expandirListDesk {
        height: 200px;
    }

    #listTypeLog ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    #listTypeLog li {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 30px;
        width: 80%;
        border-bottom-style: solid;
        border-color: var(--cinza_default);
        border-width: 1px;
    }

    #arrowType {
        width: auto;
        height: 8px;
        transition: 0.3s ease-in-out;
    }

    #arrowType:hover {
        transform: scale(1.15);
    }

    #arrowType.arrowSelect {
        transform: rotate(180deg);
    }

    .containerSettingsNav {
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 100%;
        height: 15%;
        gap: 10px;
    }

    .containerSettingsNav div:hover {
        background-color: var(--preto_hover);
    }

    #settingsNav {
        display: flex;
        align-items: center;
        width: 100%;
        height: 50px;
        gap: 10px;
        padding: 10px;
        border-radius: 15px;
        transition: 0.2s ease-in-out;
    }

    #settingsNav img {
        width: auto;
        height: 25px;
    }

    #profileNav {
        display: flex;
        align-items: center;
        width: 100%;
        height: 50px;
        gap: 10px;
        padding: 5px;
        border-radius: 15px;
        transition: 0.2s ease-in-out;
    }

    #profileNav div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: var(--cinza_escuro);
        border-radius: 100%;
    }

    #profileNav div img {
        border-radius: 100%;
        width: auto;
        height: 80%;
    }

    .containerButtonLogFollower {
        justify-content: start;
    }
}