* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

a {
    all: unset;
}

:root {
    --cor_fundo_site: #F8F9FA;
    --cor_cards_acesso: rgba(255, 255, 255, 0.719);
    --default_shadow: 5px 10px 15px rgba(0, 0, 0, 0.733);
}

/* Removendo estilo do ícone de ocultar a senha do input */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #F8F9FA;
}

/* Estilização para barra de rolagem */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.205);
}

/* Estilização do header */
header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.123);
}

h1 {
    font-size: 2rem;
}

/* Estilização do Main */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#filterBlack {
    position: absolute;
    display: none;
    width: 100%;
    height: calc(100%);
    background-color: rgba(0, 0, 0, 0.801);
    z-index: 20;
}

.backgroundImg {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s ease-in-out;
}

.containerCard {
    display: none;
}

/* Estilização do card de Login */
#cardLogin {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 95%;
    height: 60%;
    border-radius: 30px;
    background-color: var(--cor_cards_acesso);
    box-shadow: var(--default_shadow);
    z-index: 10;
}

#cardLogin span:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    font-size: 1.5rem;
    font-weight: 500;
}

.containerInputsLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    height: 50%;
    margin-top: 40px;
    overflow: auto;
}

.containerInputsLogin input {
    all: unset;
    display: flex;
    padding-left: 15px;
    width: 90%;
    height: 50px;
    background-color: white;
    border-radius: 25px;
    font-size: 18px;
    box-shadow: var(--default_shadow);
}

.containerInputsLogin span {
    width: 100%;
    height: 40px;
    padding-left: 20px;
    color: red;
    margin-top: -10px;
    font-size: 15px;
}

.animationVerify {
    display: flex;
    padding-left: 25px;
    align-items: center;
    gap: 5px;
    height: 10%;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.animationVerify p {
    font-size: 100%;
    font-weight: 600;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-top-color: black;
    animation: round 1s linear infinite;
    transition: 1s ease-in-out;
}

@keyframes round {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }

}

.circle img {
    width: 55%;
}

.disableCircle {
    width: 0px;
    height: 0px;
    opacity: 0;
}

.enableCircle {
    opacity: 1;
    width: 35px;
    height: 35px;
    border-style: none;
    animation: none;
    transform: rotate(0);
    animation: scale 0.5s;
    animation-delay: 1s;
}

@keyframes scale {
    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.0);
    }
}

.containerButtons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 20%;
    padding: 25px 20px 0px 0px;
}

.containerButtons button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: white;
    border-radius: 25px;
    color: rgb(51, 51, 51);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.658);
}

#register {
    width: 140px;
}

#enter {
    width: 100px;
}

/* Estilização do card de Cadastro */
#cardRegister {
    position: absolute;
    display: none;
    align-items: center;
    flex-direction: column;
    padding: 10px 15px 10px 15px;
    width: 95%;
    height: 75%;
    background-color: var(--cor_cards_acesso);
    border-radius: 30px;
    box-shadow: var(--default_shadow);
    z-index: 30;
}

.containerClose {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 60px;
}

.containerClose p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    font-size: 1.3rem;
}

.containerClose img {
    width: 15px;
    margin-bottom: 20px;
}

.containerInputsRegister {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: calc(100% - 115px);
    overflow: auto;
}

.containerInputSpan {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70px;
}

.containerInputsRegister input {
    all: unset;
    width: 94%;
    height: 50px;
    padding-left: 15px;
    border-radius: 30px;
    background-color: white;
}

#cardRegister span {
    padding-left: 15px;
    height: 15px;
    color: red;
    margin-top: 5px;
    font-size: 70%;
}

.containerPassInput {
    display: flex;
    align-items: center;
    width: 97%;
    height: 50px;
    padding-right: 20px;
    border-radius: 30px;
    background-color: white;
}

.containerPassInput img {
    width: 30px;
    height: 20px;
    z-index: 10;
}

.containerConfirmPass {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    height: 30%;
}

.containerConfirmPass p {
    height: 20%;
    font-size: 90%;
    margin-bottom: 5px;
    padding-left: 10px;
}

.containerConfirmPass .containerPassInput {
    height: 50px;
    width: 97.4%;
}

.notView {
    width: 4px;
    height: 30px;
    margin-left: -17px;
    margin-bottom: 2px;
    background-color: #919191ce;
    transform: rotate(45deg);
    border-radius: 10px;
    opacity: 1;
    transition: 0.5s ease-in-out;
}

.hiddenPass {
    opacity: 0;
}

.containerCheckbox {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    gap: 10px;
    padding: 15px 0px 20px 15px;
}

.containerCheckbox label {
    text-decoration: underline;
    font-size: 90%;
    transition: 0.5s ease-in-out;
}

@keyframes notChecked {

    0% {
        font-size: 90%;
        color: black;
    }

    25% {
        font-size: 100%;
        color: red;
    }

    50% {
        font-size: 90%;
        color: black;
    }

    75% {
        font-size: 100%;
        color: red;
    }

    100% {
        font-size: 90%;
        color: black;
    }
}

#registerGo {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 35px;
    background-color: white;
    border-radius: 30px;
}

/* Estilização do card de conta criada */
#cardResultRegister {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    width: 90%;
    height: 130px;
    padding: 15px;
    border-radius: 30px;
    background-color: var(--cor_cards_acesso);
    box-shadow: var(--default_shadow);
    z-index: 40;
}

#cardResultRegister img {
    width: 13px;
}

#cardResultRegister span {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    font-size: 100%;
}

.containerButton {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35px;
}

#goLogin {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 35px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.685);
}

/* Responsividades */
/* Responsividades para Tablet's */
@media (min-width: 768px) {
    #cardLogin {
        width: 50%;
        height: 50%;
    }

    #cardRegister {
        width: 60%;
        height: 65%;
    }

    #cardResultRegister {
        width: 55%;
        height: 20%;
    }
}

@media (min-width: 1024px) {
    #cardLogin {
        width: 35%;
        height: 70%;
    }

    #cardRegister {
        width: 30%;
        height: 75%;
    }

    .containerPassInput img {
        max-width: 25px;
        max-height: 15px;
    }

    .notView {
        margin-left: -15px;
        height: 25px;
    }

    #cardResultRegister {
        width: 35%;
        height: 25%;
    }

}

/* Responsividade específica para certa resolução de Tablet's */
@media (min-width: 1024px) and (max-width: 1280px) and (min-height: 928px) {
    #cardLogin {
        width: 45%;
        height: 45%;
    }

    #cardRegister {
        width: 50%;
        height: 50%;
    }


    #cardResultRegister {
        width: 45%;
        height: 12%;
    }
}

/* Responsividade para Desktop */
@media (min-width: 1280px) {
    #filterBlack {
        display: none;
    }

    .backgroundImg {
        display: none;
    }

    .containerCard {
        display: flex;
        flex-direction: column;
        width: calc(80% - 20px);
        height: 90%;
        padding: 25px 15px 0px 15px;
        border-radius: 30px;
        background-color: rgba(255, 255, 255, 0.459);
        box-shadow: var(--default_shadow);
    }

    .containerImg {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 80%;
        overflow: hidden;
    }

    .containerImg img {
        width: 95%;
        height: 93%;
        border-radius: 20px;
        transition: 2s ease-in-out;
    }

    .containerLocation {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
        height: 7%;
        padding-right: 25px;
        gap: 10px;
    }

    .containerLocation img {
        width: 20px;
        height: 30px;
    }

    .containerLocation span {
        font-size: 1.6rem;
        padding-right: 7px;
    }

    .containerCard p {
        width: 100%;
        margin-top: 15px;
        font-size: 90%;
        padding: 0px 30px 0px 30px;
    }

    .containerCard span:nth-child(3) {
        padding-left: 30px;
        font-weight: 600;
        width: 100%;
        margin-top: 10px;
    }

    main {
        padding: 0px 30px 0px 30px;
        gap: 20px;
        padding-top: 30px;
    }

    #cardLogin {
        display: flex;
        position: static;
        width: 30%;
        height: 70%;
    }

    #backgroundFilterColor {
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: -10;
    }
}